@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-niramit);
  background-color: #f1f1f1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

fieldset {
  @apply mb-12 sm:mb-8;
}

input,
textarea,
select,
option {
  @apply block w-full px-6 border border-[#BFBFBF] rounded-[12px] py-2 font-normal text-xl bg-white;
}